html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#red {
  height: 50px;
  width: 50px;
  background-color: red;
  position: relative;
}

#blue {
  height: 50px;
  width: 50px;
  background-color: blue;
  position: relative;
}

#purple {
  height: 50px;
  width: 50px;
  background-color: purple;
  position: relative;
}

#extraClear {
  height: 50px;
  width: 50px;
  background-color: transparent;
  position: relative;
}

#flexBox{
  display: flex;
}